@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200&display=swap");
/*reset*/
body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}

/*fundo azul*/
.background {
  background-image: -webkit-gradient(linear, left top, right top, from(#6ec4d0), color-stop(#bbe3ec), to(#6ec4d0));
  background-image: linear-gradient(90deg, #6ec4d0, #bbe3ec, #6ec4d0);
  width: 100%;
  height: 500px;
}

/*   cabeçalho   */
.horario ul {
  padding-left: 20px;
}

.cabecalho a {
  padding-left: 20px;
  text-decoration: none;
  color: #336FA1;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
}

.cabecalho .horario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cabecalho .container img {
  height: 30px;
  width: 30px;
}

.cabecalho .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  -webkit-box-shadow: 2px 10px 30px black;
          box-shadow: 2px 10px 30px black;
  background-color: #f7f7f7;
}

.cabecalho .container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cabecalho .horario li {
  font-size: 14px;
  font-weight: bold;
  color: #3371a3;
  font-family: 'Work Sans', sans-serif;
  list-style-type: none;
}

.cabecalho .horario .fechado {
  font-family: 'Work Sans', sans-serif;
  color: red;
  list-style-type: none;
  font-weight: bold;
}

/* cabeçalho\  */
/* serviços */
.page-nav .container .servicos-imagens img {
  width: 150px;
  height: 300px;
}

.page-nav .container .servicos-imagens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* serviços */
/* seção do mapa */
.mapa {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mapa h2 {
  margin-bottom: 30px;
  font-size: 34px;
  font-family: 'Work Sans', sans-serif;
  background-color: red;
  background-image: linear-gradient(45deg, #374a20, #208473);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* seção do mapa\ */
/*  rodapé   */
.rodape {
  margin-top: 15%;
}

.rodape .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 75px;
  background-color: #cacbcc;
  bottom: 0;
}

.rodape img {
  height: 30px;
  width: 30px;
}

.rodape .iconesImg {
  height: 40px;
  width: 40px;
}

#facebook {
  width: 25px;
}

.rodape .icones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rodape .endereco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rodape .endereco a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #3371a3;
  font-family: 'Work Sans', sans-serif;
  padding: 20px;
}

/*  rodapé\    */
/*# sourceMappingURL=style.css.map */