@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200&display=swap');
/*reset*/
body, html{
    width: 100%;
    margin: 0;
    padding: 0;
}

/*fundo azul*/
.background {
    background-image: linear-gradient(90deg, #6ec4d0, #bbe3ec,#6ec4d0);
    width: 100%;
    height: 500px;
}

/*   cabeçalho   */
.horario ul{
    padding-left: 20px;
}

.cabecalho a{
    padding-left: 20px;
    text-decoration: none;
    color: #336FA1;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}

.cabecalho .horario{
    display: flex;
}

.cabecalho .container img{
    height: 30px;
    width: 30px;
}

.cabecalho .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    box-shadow: 2px 10px 30px black;
    background-color: #f7f7f7;
}


.cabecalho .container div{
    display: flex;
    align-items: center;
}


.cabecalho .horario li{
    font-size: 14px;
    font-weight: bold;
    color: #3371a3;
    font-family: 'Work Sans', sans-serif;
    list-style-type: none;
}

.cabecalho .horario .fechado{
    font-family: 'Work Sans', sans-serif;
    color: red;
    list-style-type: none;
    font-weight: bold;
}

/* cabeçalho\  */


/* serviços */

.page-nav .container .servicos-imagens img{
    width: 150px;
    height: 300px;
}

.page-nav .container .servicos-imagens{
    display: flex;
    justify-content: space-around;
}


/* serviços */


/* seção do mapa */

.mapa{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mapa h2{
    margin-bottom: 30px;
    font-size: 34px;
    font-family: 'Work Sans', sans-serif;
    background-color: red;
    background-image: linear-gradient(45deg, #374a20, #208473);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

/* seção do mapa\ */

/*  rodapé   */
.rodape{
    margin-top: 15%;
}

.rodape .container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: #cacbcc;
    bottom: 0;
}

.rodape img{
    height: 30px;
    width: 30px;
}

.rodape .iconesImg{
    height: 40px;
    width: 40px;
}

#facebook{
    width: 25px;
}


.rodape .icones{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
    justify-content: space-between;
}

.rodape .endereco{
    display: flex;
    align-items: center;
}

.rodape .endereco a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #3371a3;
    font-family: 'Work Sans', sans-serif;
    padding: 20px;
}

/*  rodapé\    */



